{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "insertPragma": false,
  "requirePragma": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
